<h3> This is a login page</h3>

<form [formGroup]="account"> 
  <div>
    <label> Username</label>
    <input formControlName="nameinfo" type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input formControlName="emailinfo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Example@email.com"
    (input)='onUpdateServerName($event)'>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input formControlName="passinfo" type="password" class="form-control" id="exampleInputPassword1" name="pass">
  </div>

  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Re-enter Password</label>
    <input formControlName="repassinfo" type="password" class="form-control" id="exampleInputPassword1" name="secondpass">
  </div>

  <hr>

  <button type="submit" class="btn btn-primary" [disabled]="account.invalid" (click)='login()'>Submit</button>

  <p *ngIf="message"> The account was created with the email of {{ serverName }}</p>

  <!-- <router-outlet></router-outlet> -->
</form>
