<h2> Welcome to our homepage!</h2>

<img src="../assets/pictures/homepage/welcome.jpg" width="500" height="500">
<br>
<h3>Who would you like to play with?</h3>

<!-- List e user ha -->
<button type='button' class='btn btn-warning' (click)='getUser()'>Show all playeres</button>
<ul *ngIf="users && users.length>0">
    <li *ngFor="let user of users">
       <!-- <a [routerLink]="['user', user.id]"> -->
           <a routerLink="/profile/{{user.id}}">
           <strong> Username: {{user.username}}, ID: {{user.id}}</strong> </a> 
    </li>
</ul>

<hr>
<button routerLink = "/login" reouterLinkActive = "active" (click)='logout()' class="btn btn-danger" > Logout</button>
